﻿@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
    background-color:#f2f0f0;
    margin:0 auto;
}

header:before{
    content:" ";
    background-color:#eb6c10;
    height: 25px;
    width:100%;
    display: block;
    position:absolute;
    left:0;
    top:-25px;
    z-index:101;
}

header{
    position:relative;
    margin-top:25px;
    width:100%;
    z-index:100;
    box-shadow: 0 0 10px grey;
}

.container{
    max-width:940px;
    height:120px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display:flex;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    justify-content: space-between;
}

.container nav{
    flex-basis: 570px;
    margin-top:10px;
}

.header-menu a{
    color:#85423f;
    font-size:13pt;
}

li .active{
    position:relative;
    color:white;
}

.active:before{
    top: -4px;
    left: -15px;
    width: 100%;
    height: 100%;
    position: absolute;
    content: " ";
    background-color: #eb6c10;
    padding: 5px 15px;
    border-radius: 4px;
    color: white;
    z-index: -1;
}

ul{
    list-style: none;
    padding:0;
}

a{
    text-decoration: none;
}

.site-background{
    width:100%;
    height:620px;
    background:url("images/image.png");
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: 12%;
    background-size: cover;
}


.separator{
    max-width:940px;
    margin: 35px auto;
    display:flex;
    justify-content:space-between;
}

.separator:first-of-type{
    margin-top:65px;
}

.separator:last-of-type{
    margin-top:45px;
}

.separator div{
    flex-basis: 48%;
    border-bottom: 2px dotted #b3adad;
}

.info, .best-choise, .bottom-info{
    max-width:940px;
    margin: 0 auto;
}

.info, .more-info, .bottom-info{
    display:flex;
    justify-content: space-between;
}

h2, h3{
    color: #5d0400;
    margin:0;
}

.welcome-info{
    flex-basis: 520px;
}

.image{
    width:155px;
    height:145px;
    border-radius:50%;
    border:5px solid white;
    box-shadow: 0 0 5px lightgrey;
    background: url("images/cook.png");
    background-position: center center;
    flex-shrink: 0;
    margin-top: 25px;
}

.text-info{
    flex-basis:315px;
    margin-top:5px;
}

.here-info{
    color: #eb6c10;
}

.more-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #eb6c10;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10pt;
    border-radius: 3px;
}

.features-info{
    flex-basis: 380px;
}

.features-list{
    margin-top: 20px;
}

.features-list li{
    margin-bottom: 6px;
}

.features-list li:last-of-type{
    margin-bottom: 0;
}

.features-list li:before{
    content: "■";
    color: #5d0400;
    font-size: 8px;
    vertical-align: top;
    display: inline-block;
    padding-top: 3px;
    padding-right: 5px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.item{
    flex-basis: 220px;
}

.item img {
    border: 5px solid white;
    box-shadow: 0 0 5px lightgrey;
    margin-bottom: 20px;
}

.item h5{
    text-transform: uppercase;
    font-size: 9pt;
    font-weight: normal;
    margin: 0;
}

.item p{
    margin: 0;
    font-size: 10pt;
    color: #826660;
}

.price{
    font-size: 14pt;
    display: inline-block;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    color: white;
    background-color: #eb6c10;
    border-radius: 4px;
    padding: 8px;
    margin-top: 15px;
}

.bottom-info article{
    flex-basis:49%;
}

.socials{
    margin-top: 26px;
}

.socials li{
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right:5px;
}

.socials li a{
    display:inline-block;
    width:inherit;
    height: inherit;
    background: url("images/social.png");
    background-repeat: no-repeat;
}

ul li .twitter{
    background-position-x: -38px;
}

ul li .rss{
    background-position-x: -74px;
}

.follow-info nav{
    margin-top: 23px;
}

.bottom-menu{
    font-size:9pt;
    max-width:390px;
}

.bottom-menu a{
    color: #504f4f;
}

.subscribe-text{
    font-size: 10pt;
    max-width: 220px;
    margin-top: 20px;
    line-height: 18px;
    margin-bottom:0;
}

.subscribe-form{
    margin-top: 20px;
}

input[type="email"] {
    height: 24px;
    width: 100%;
    max-width: 205px;
    padding: 0 5px;
}

input[type="submit"] {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #eb6c10;
    color: white;
    cursor: pointer;
    margin-left:5px;
}

footer{
    margin-top: 30px;
    background-color: #eb6c10;
}

.credits{
    margin:0 auto;
    height:110px;
    display: flex;
    max-width: 490px;
    justify-content: space-between;
    align-items: center;
}

.credits *{
    margin:0;
    font-size: 9pt;
    color: #ebe5e5;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}